*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #1f1f1f;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

ul,
li,
ol {
    list-style: none;
    line-height: 24px;
}

/* UTILITIES */
.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1170px;
}

.clearfix::after {
    clear: both;
    content: '';
    display: table;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-32 {
    margin-bottom: 32px;
}

.px {
    padding: 0 16px;
}

.pxmb-1632 {
    padding: 0 16px;
    margin-bottom: 32px;
}

.txt-h-500 {
    font-weight: 500;
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.txt-h-700 {
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 2.25rem;
    letter-spacing: -0.02rem;
}

.txt-b-small {
    font-size: 1rem;
    color: #999999;
    font-weight: 300;
    line-height: 1.5rem;
}

.banner {
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    background-size: cover;
}

.banner::before {
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
}

/*   ----------------------------   */
/*   ---------- HEADER ----------   */
/*   ----------------------------   */

/* BRAND LOGO */
header > .brand {
    width: 160px;
    position: relative;
}

header > .brand::before {
    width: 2px;
    content: '';
    right: -12%;
    height: 90%;
    position: absolute;
    background: #e5e5e5;
}

header > .brand img {
    width: 160px;
}

/* NAVIGATION */
nav .menu > li {
    margin-right: 10px;
    display: inline-block;
}

nav .menu > li:last-child {
    margin-right: 0;
}

nav .menu > li > a {
    font-size: 16px;
    color: #999999;
    text-transform: uppercase;
}

nav .menu > li > a:hover {
    color: #1f1f1f;
    text-decoration: underline;
}

/*   ----------------------------   */
/*   ----------- MAIN -----------   */
/*   ----------------------------   */

/* HERO */
main > section:first-child {
    color: #ffffff;
    position: relative;
}

main > section:first-child .txt-b-small {
    color: #ffffff;
}

main > section > .banner {
    height: 440px;
    background: url('../img/banner.jpg') no-repeat center #eee;
}

main > section:first-child > .hero-section-content {
    bottom: 0;
    width: 60%;
    padding: 64px 48px;
    position: absolute;
}

/* CONTENT */
main section > .content-colums > .col {
    width: 20%;
    float: left;
    padding: 8px;
    overflow: hidden;
}

main section > .content-colums > .col:nth-child(1) {
    padding-left: 0;
}

main section > .content-colums > .col:nth-child(2) {
    width: 60%;
}

main section > .content-colums > .col:nth-child(3) {
    padding-right: 0;
}

.col > .banner {
    height: 180px;
}

.content-colums .col:nth-child(1) > .banner {
    background: url('../img/img-1.jpg') no-repeat center #eee;
}
.content-colums .col:nth-child(2) > .banner {
    background: url('../img/banner-2.jpg') no-repeat center #eee;
}
.content-colums .col:nth-child(3) > .banner {
    background: url('../img/img-3.jpg') no-repeat center #eee;
}

.col-content > h4 {
    color: #1f1f1f;
    font-weight: 500;
    line-height: 2rem;
}

/*   ----------------------------   */
/*   ---------- FOOTER ----------   */
/*   ----------------------------   */
footer {
    margin-bottom: 16px;
}

footer > p {
    line-height: 3em;
    text-align: center;
}
